
/* RESPONSIVE CSS-------------------------------------------------- */
@media (min-width: 767px) {
    .main_pic_hov a{
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
    }
    .main_pic_hov a div > div, .main_pic_hov a div {
        width: 100%;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    .main_pic_hov:hover a div > div, .main_pic_hov:hover a div {
        -webkit-transform: scale(1.075);
        -moz-transform: scale(1.075);
        -ms-transform: scale(1.075);
        -o-transform: scale(1.075);
        transform: scale(1.075);
    }
    .main_pic_hov{ overflow: hidden;}
    .transition_img{
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        transform: scale(1)!important;
    }
    .main_pic_hov:hover .transition_img{-webkit-transform: scale(1.075);
        -moz-transform: scale(1.075);
        -ms-transform: scale(1.075);
        -o-transform: scale(1.075);
        transform: scale(1.075);}
}
@media screen and (min-width: 990px) {
    .column {max-width: 900px;width: auto;display: block;}
    .home h1{font-size: 100px;line-height: 100px;font-weight: 600;}
    .middle_text.work_flow:before{margin-left:1px;margin-top: -15px;top: 50%;left:-30px;content:'';height: 0;width: 0;position: absolute;pointer-events: none;-ms-transform: translateY(-50%) scale(1);transform: translateY(-50%) scale(1);border-style: solid;border-color: transparent;border-right-color: #ffffff;border-width: 15px;}
    .middle_text.work_flow.right:before{right:-30px;left:auto;border-left-color: #ffffff;border-right-color: transparent;}
    .fullscreen .navbar-nav > li > a:hover span{opacity: 0.8;transition: opacity 0.8s;}
    .projects h2{font-size: 4rem;line-height: 4.5rem;margin-bottom: 3rem;}
    .container-custom{max-width: 990px;}
    .mb-100{margin-bottom: 100px;}
    .btn, button.btn{max-width: 400px;}
    .top_sec .upper_div, .column2{width: 60%;}

}
@media (min-width: 990px) and (max-width: 1320px) {
    .middle_text.work_flow{padding: 0 1.5rem;}
    .right_sec > div label{margin-bottom: 1rem;}
    .right_sec > div{padding: 2rem 3rem;}
    h1{font-size: 4rem;line-height: 4.2rem;}
}
@media (min-width: 1200px) and (max-width: 1599px) {.hidden-lg {display: none !important;}}

.visible-xl-block,.visible-xl-inline,.visible-xl-inline-block,.visible-xl{display: none !important;}


/* Large Devices, Wide Screens */
@media (min-width: 1250px){
    .container-custom{max-width: 1220px;}
    .culture-inner h2{font-size: 5rem;line-height: 5rem;}
    .right_sec > div label{display: block;margin-bottom: 2rem;padding: 0;}
    .culture-inner{padding: 5rem;}
    .btn.btn-default{min-width: 450px;min-height: 80px;}
    .top_sec .upper_div, .column2{width: 60%;}
    h2.title{font-size: 4rem;line-height: 4.2rem;}
    .services_bg .background:before{padding-top: 50%;}
    .news_more{padding-top: 20px!important;padding-bottom: 0;}
    .mx-100{margin: 100px 0;}
    .footer .hover_text p {width: 75%;}
    .belief_details{width: 90%;margin-right: auto;}
    .home h1{font-size: 110px;line-height: 100px;font-weight: 600;}
}
@media (min-width: 1441px){
    .column {max-width: 900px;width: auto;display: block;}
    .container-custom{max-width: 1390px;}
    .belief_details{padding: 0 2rem 0 0;}
    h2.title{font-size: 5rem;line-height: 5.2rem;}
    .column h5{margin: 2rem 0;}
    .projects h2{font-size: 5rem;line-height: 5rem;margin-bottom: 4rem;}
}
@media (min-width: 1620px){
    .home h1{font-size: 150px;line-height: 140px;font-weight: 600;}
    .column {max-width: 1200px;width: auto;display: block;}
    .container-custom{max-width: 1520px;}
    .btn.btn-default{min-width: 450px;}
    .main_title{padding: 6rem 0 2rem;}
    .work_flow h2,.story_text h2, .story_bottom h2{font-size: 36px;line-height: 36px;}
    .middle_text.work_flow{padding: 2rem 3rem;}
    .middle_text.work_flow label{margin-bottom: 2rem;}
    .work_title{max-width: 65%;margin: auto;}
    .work h1, .main_title h1{font-size: 6rem;line-height: 6.2rem;}
    .top_sec .upper_div, .column2{width: 50%;}
    .job_links h2 {font-size: 5rem;line-height: 5.2rem;margin-bottom: 3rem;}
    .right_sec > div h2, .culture-inner h2, h2.footer_title{font-size:5rem;margin-bottom: 2rem;line-height: 5rem;letter-spacing: 2px;}
    .belief_ div h2, .tree h2{font-size: 5rem;line-height: 5rem;}
    .fullscreen .navbar-nav > li{font-size: 100px;line-height: 110px;}
    .fullscreen .navbar-nav > li a > span{font-size: 85px;}
    .right_div{width: 35%;right: 20%;}
    .story_bottom{padding: 5.5rem 4rem;}
    .middle_text.story_text{padding: 4rem;}
    section{padding: 7rem 0;}
    .story_sec{padding-top: 7.5rem;padding-bottom: 7.5rem;}
    .right_sec > div{padding: 5rem;}
    .col-xxl-10 {-ms-flex: 0 0 83.33%;flex: 0 0 83.33%;max-width: 83.33%;}
    .col-xxl-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
    .col-xxl-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
    .col-xxl-7 {-ms-flex: 0 0 58.33%;flex: 0 0 58.33%;max-width: 58.33%;}
    .col-xxl-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
    .col-xxl-2 {-ms-flex: 0 0 16.66%;flex: 0 0 16.66%;max-width: 16.66%;}
}
@media (min-width: 1820px){
    .container-custom{max-width: 1720px;}
}

/* Large Devices, Wide Screens */
@media (min-width: 1750px) {.container-custom{padding: 0 15px;}}

/* Large Devices, Wide Screens */
@media (max-width: 1440px) {
    .press .col-center {left: 0;}
    .projects label{margin-bottom: 1.5rem;}
    .story_text p{margin-bottom: 0;}
    .right_sec > div h2, .job_links h2{font-size: 3.2rem;line-height: 3.2rem;}
    .right_sec > div{padding: 3rem;}
    .fullscreen .navbar-nav > li a > span{font-size: 60px;}
    .arrow_slide .bg_light_blue.right_sec > div, .bg_light_yellow.right_sec > div{padding: 6rem 4rem 4rem;}
    .book_now{padding: 2rem;}
    .book_now h2{width: 100%;}
    .projects h2{font-size: 4rem;line-height: 4rem;margin-bottom: 3rem;}
    .right_sec > div.work_sec h2{font-size: 4rem;line-height: 4rem;}
    h1.partners_head {font-size: 4rem;line-height: 4rem;}

}


/* Medium Devices, Desktops */

@media (max-width: 1200px) {
    .mx-100{margin: 60px 0;}
    .projects{padding: 1.5rem;}
    .arrow_slide .bg_light_blue.right_sec > div{padding: 2rem;}
    .right_sec > div h2{font-size: 2.6rem;line-height: 2.6rem;}
    .right_sec > div{padding: 3rem 2rem;}
    .right_sec > div.work_sec h2{font-size: 3.2rem;line-height: 3.2rem;}
    .work h1, .main_title h1{font-size: 4rem;line-height: 4rem;}
}


/* Medium Devices, Desktops */

@media (max-width: 990px) {
    h1, .work h1, .main_title h1{font-size: 4rem;line-height: 4.2rem;}
    div.case_title{padding: 4rem 0;}
    .projects{padding: 3rem 0;}
    .main_pic_hov > .row {height: 100%;}
    .main_pic_hov > .row figure, .main_pic_hov > .row figure > img{height: 100%;}
    .projects label{margin-bottom: 1rem;}
    .middle_text.story_text{padding: 2rem;}
    .story_text p, .right_sec > div p{margin-bottom: 0;}
    .container-custom{padding: 0 15px;}
    .right_sec > div h1{font-size: 2.5rem;}
    .right_sec > div{padding: 3rem;}
    .middle_text.work_flow{padding: 1.5rem;}
    .work_flow h2{font-size: 2rem;line-height: 2.2rem;}
    .right_sec > div h2{font-size: 3rem;line-height: 3.2rem;}
    .culture-inner h3 {font-size: 3.5rem;line-height: 4rem;}
    .footer h3{font-size: 4rem;line-height: 4.5rem;}
    .order-sm-1{order:1;}
    .order-sm-0{order:0;}
    .projects h2{font-size: 3rem; line-height: 3.2rem; margin-bottom: 3rem; color: #000;}
    .story_text p, .right_sec > div p, .story_bottom p{display: none;}
    .overlay_text_md{position: absolute;bottom: 0;z-index: 101;padding: 1rem 2rem;}
    .overlay_text_md .story_text h2{font-size: 4rem;font-weight: 600;line-height: 4.5rem;color: #ffffff;}
    .overlay_text_md button.arrow.dark span.arrow_line span{background: transparent;border-left-color: #fff;}
    .overlay_text_md button.arrow.dark > span{background: #ffffff;}
    .right_sec > div h2, .story_bottom h2, .story_bottom .column h2{font-size: 4rem;font-weight: 600;line-height: 4.5rem;}
    .story_bottom{padding: 3rem;}
    .column {max-width: 700px;width: auto;}
    .home h1 {font-size: 6rem;line-height: 7rem;}
    .bg_light_blue.right_sec .background:before{padding-top: 80%;}
    .btn, button.btn{max-width: 300px;}
    .md-hidden{display: none;}
    .main_title{padding: 4rem 0;}
    .belief_details{padding: 0 2rem 0 0;}
    label.label_title.dark{position: relative;left: 0;}
    label.label_title.zero_p{padding: 0 15px;}
    .leadership_detail{padding: 1.5rem 0;}
    .leadership_detail ul{display: inline-block;width: 100%;padding: 1rem 0 0;bottom: 0;position: relative;}
    .career_studio > div{padding: 2rem 1rem;}
    label.title.md-p{padding: 0 15px;}
    section{padding: 60px 0;}
    .right_div{width: 60%;}
    .story_sec{padding: 4rem 1rem;}
    .mb-100{margin-bottom: 50px;}
    label.title.news_{padding: 0 15px;}
    .fullscreen .navbar-nav > li a > span{font-size: 3rem;}
    .fullscreen .navbar-nav > li{font-size: 4rem;line-height: 4.5rem;}
    .main_pic_hov{margin-top: -1px;}
}

/* Small Devices, Tablets */

@media (max-width: 768px) {
    .travosh .owl-nav button.owl-next{width: 70px;right: 0;}
    .travosh .owl-nav button.owl-prev{width: 70px;left: 0;}
    .travosh .owl-nav button.owl-next span, .travosh .owl-nav button.owl-prev span{width: 40px;}
    .travosh .owl-nav button.owl-next:hover span, .travosh .owl-nav button.owl-prev:hover span{width: 50px;}
    .image_content > .pr-5{padding-right: 1.5rem!important;}
    .image_content > div{margin-bottom:1.5rem;}
    .main_pic_hov > .row figure, .main_pic_hov > .row figure > img{height: auto;}
    .home .middle_text{margin: 2rem 0 0;padding: 3rem 0 0 0;}
    .right_sec > div label{margin-bottom: 1rem;}
    .middle_text.work_flow{padding: 1rem;}
    button.arrow.lg:hover span.arrow_line, .middle_text.projects a:hover button.arrow span.arrow_line{width: 55px;background-color: #004fff;}
    button.arrow.lg span.arrow_line{width: 35px;}
    button.arrow.play{border: 2px solid #ffffff;border-radius: 100%;width: 50px;height: 50px;}
    button.arrow.play span.arrow_line{width: 0!important;}
    button.arrow.play span.arrow_line span{border-bottom: 10px solid transparent;border-left: 15px solid #fff;border-top: 10px solid transparent;bottom: -9px;left: 17px;}
    .vertical_align{margin:auto 0;}
    .img_container_main:before{padding-top: 100%;}
    .contact_bg .background:before{padding-top: 100%;}
}
@media (max-width: 767px) {
    .right.contact{width: 80%;margin-left: 0;}
    .center.contact{width: 80%;margin-left: 0;margin-right: 0;}
}
@media (max-width: 576px) {
    h1{font-size: 3rem;line-height: 3.2rem;}
    div.case_title .line_after{display: none;}
    div.case_title{display: block;}
    .middle_text.projects{margin-bottom: 2rem;height: auto;}
    section{padding: 40px 0;}
    .culture-inner h3{font-size: 2.2rem;line-height: 2.8rem;}
    .footer h3{font-size: 3.5rem;line-height: 4rem;margin-bottom: 2.5rem;text-align: left;}
    .column h5:before{height: 94%;bottom: 0;}
    .story_bottom, .middle_text.story_text{padding: 2rem;}
    .culture-inner{padding: 1.5rem;}
    .footer{padding: 50px 0;}
    .footer p{height: 60px;}
    .order-xs-1{order:1;}
    .order-xs-0{order:0;}
    .middle_text.work_flow {padding: 1rem 0;}
    .right_sec > div h2{font-size: 2rem;line-height: 2.2rem;}
    .right_sec > div label{margin-bottom: 0;}
    .right_sec > div p {font-size: 1.2rem;line-height: 1.5rem;}
    .home h1 {font-size: 3.5rem;line-height: 4rem;text-decoration: underline;}
    .px-sm-4{padding: 0 2rem;}
    .fullscreen .navbar-nav > li {font-size: 2.8rem;line-height: 3rem;padding: 5px 0;}
    .fullscreen .navbar-nav > li a {display: block;white-space: nowrap;overflow: hidden;}
    .fullscreen .navbar-nav > li a span{font-size: 1.8rem;}
    .background:before{padding-top: 100%;}
    .right_sec > div h2, .story_bottom h2, .story_bottom .column h2{font-size: 2.5rem;line-height: 2.6rem;}
    .overlay_text_md .story_text h2{font-size: 2.5rem;font-weight: 600;line-height: 2.6rem;}
    .overlay_text_md{padding: 0 1rem;}
    .home h1 {font-size: 4rem;line-height: 4.5rem;}
    .right_sec > div{padding: 30px 15px;}
    .work h1, .main_title h1 {font-size: 3.5rem;line-height: 3.8rem;}
    .work div.m-auto > div{margin-top: 3rem;}
    .overlay_text_sm{position: absolute;bottom: 0;z-index: 101;color: #ffffff;}
    .overlay_text_sm .height_100{height: auto;position: absolute;bottom: 0;margin: 0;left: 0;right: 0;padding: 0 15px;background-color: rgb(0,0,0);background-repeat: repeat-x; background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(transparent), to(#000000));background: -webkit-linear-gradient(top, transparent, #000000);background: -moz-linear-gradient(top, transparent, #000000);background: -ms-linear-gradient(top, transparent, #000000);background: -o-linear-gradient(top, transparent, #000000);}
    .overlay_text_sm .height_100 .middle_text > div {padding: 0!important;}
    .work_flow label{margin-bottom: 1rem;}
    .work_flow h2, .overlay_text h2{font-size: 2rem;line-height: 2rem;color: #fff;letter-spacing: 1px;}
    .work_flow div button.arrow.dark > span {background: #ffffff;}
    .work_flow div button.arrow.dark > span.arrow_line span {border-left-color: #ffffff;}
    .overlay_text .bottom_text{bottom: 0;padding:15px;}
    .footer p{height: auto;padding-bottom: 10px;margin-bottom: 0;}
    .footer .hover_text{margin-bottom: 2rem;}
    .social li{margin: 0 10px 0 0;}
    .copyright{text-align: left;}
    .sm-hidden{display: none;}
    .bg_light_blue.right_sec > div {padding: 30px;}
    .order-xs-1{order: 1;}
    .order-xs-0{order: 0;}
    .belief_ div h2{font-size: 3rem;line-height: 3.2rem;}
    .belief_ label.label_title{position: relative;margin-top: 2rem;}
    label.label_title.zero_p{position: relative;margin-top: 2rem;}
    .partners_head{font-size: 3rem;padding-top: 0;}
    .top_sec .upper_div, .column2{left: 15px;right: 15px;}
    .job_links{padding: 3rem 1.5rem 4rem 1.5rem;}
    .job_links button.arrow{left: 1.4rem;bottom: 2rem;}
    .job_links h2 {font-size: 2rem;line-height: 2.2rem;}
    .grad_45 .overlay{padding: 0;}
    .book_now{padding: 2rem 0;}
    .book_now h2{width: 100%;}
    h2.footer_title, h2.title, .color-white h2{font-size: 3rem;line-height: 3.5rem;}
    .challenge{padding: 1rem 0;}
    .upper_div{width: 90%;}
    .upper_div h1, .culture-inner h2{font-size: 2.8rem;line-height: 3rem;}
    .top_sec .upper_div{height: 350px;padding: 2rem;}
    .right_div{width: 100%;right: 0;left: 0;bottom: -10%;}
    section.bg_blue{padding: 40px 0;}
    .image_content .pr-5 {padding-right: 0!important;}
    .image_content{display: block;margin-bottom: 3rem;}
    .main_title{padding:5rem 0 2rem;}
    .work h1, .main_title h1{font-size: 2.5rem;line-height: 2.8rem;}
    .about_text{padding: 0 1rem 1rem 0;}
    .belief_details p{padding-bottom:0.5rem;}
    .slider{padding: 0;}
    .leader_details_1{padding: 2rem 0;}
}


/* Extra Small Devices, Phones */
@media (max-width: 476px) {}


/* Custom, iPhone Retina */

@media (max-width: 420px) {
    h1{font-size: 2.5rem;line-height: 2.8rem;}
    h2{font-size: 2.2rem;line-height: 2.4rem;}
    .belief_ div h2{font-size: 2.5rem;line-height: 2.8rem;}
    .upper_div h1, .culture-inner h2, h2.footer_title, h2.title, .color-white h2{font-size: 2.2rem;line-height: 2.6rem;}
    .home h1{font-size: 3rem;line-height: 3.5rem;}
}