/* ------------------------------------------------------------------------------
 *  Designed by Dreamscape Media Pvt. Ltd.
 *  ------------------------------------------------------------------------------ *
 *  Author - Amit Verma
 *  ------------------------------------------------------------------------------
 *  Email: amit@dreamscape.co.in
 *  Work: UI Designer and Front-end Developer @ Dreamscape Media - http://dreamscape.co.in
 *  Latest update: June 05, 2018
 * ---------------------------------------------------------------------------- */

/* FONTS **********************************************************************/
@font-face {font-family: 'IBMPlexSerif-Bold';src: url('../fonts/ibmplexserif-bold-webfont.woff2') format('woff2'),url('../fonts/ibmplexserif-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'IBMPlexSerif-Light';src: url('../fonts/ibmplexserif-light-webfont.woff2') format('woff2'),url('../fonts/ibmplexserif-light-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'IBMPlexSerif-medium';src: url('../fonts/ibmplexserif-medium-webfont.woff2') format('woff2'),url('../fonts/ibmplexserif-medium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'IBMPlexSerif-semibold';src: url('../fonts/ibmplexserif-semibold-webfont.woff2') format('woff2'),url('../fonts/ibmplexserif-semibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'IBMPlexSerif-regular';src: url('../fonts/ibmplexserif-regular-webfont.woff2') format('woff2'),url('../fonts/ibmplexserif-regular-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyblack';src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'),url('../fonts/gilroy-black-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyblack_italic';src: url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-blackitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroybold';src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),url('../fonts/gilroy-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroybold_italic';src: url('../fonts/gilroy-bolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-bolditalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyextrabold';src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyextrabold_italic';src: url('../fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabolditalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyheavy';src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),url('../fonts/gilroy-heavy-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyheavy_italic';src: url('../fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-heavyitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroylight';src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),url('../fonts/gilroy-light-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroylight_italic';src: url('../fonts/gilroy-lightitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-lightitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroymedium';src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),url('../fonts/gilroy-medium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroymedium_italic';src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyregular';src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),url('../fonts/gilroy-regular-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyregular_italic';src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroysemibold';src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),url('../fonts/gilroy-semibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroysemibold_italic';src: url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroythin';src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),url('../fonts/gilroy-thin-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroythin_italic';src: url('../fonts/gilroy-thinitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-thinitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyultralight';src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'),url('../fonts/gilroy-ultralight-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'gilroyultralight_italic';src: url('../fonts/gilroy-ultralightitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-ultralightitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}

html, body{padding: 0;margin: 0;width: 100%;height: 100%; position: relative; color: #333333;}
body {background-color: #fff;font-family: 'IBMPlexSerif-regular';font-size:17px; font-weight:300;line-height: 25px;color: #404040;-webkit-text-size-adjust: none;-webkit-font-smoothing: antialiased;}
/* PRELOADER **********************************************************************/
.loader-wrapper {height: 100%;overflow: hidden;position: fixed;width: 100%;z-index: 9999;background-color: rgba(206, 251, 255, 1);}
.loader-wrapper .loader { margin: 0 auto;text-align: center;position: relative;top: 50%;transform: translateY(-50%); border-radius:10px;}
.blink{text-decoration: blink;-webkit-animation-name: blinker;-webkit-animation-duration: 0.6s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-webkit-animation-direction: alternate;}
@-webkit-keyframes blinker {from {opacity: 1.0;}to {opacity: 0.0;}}

.valign-middle{-webkit-flex-flow: column wrap;-ms-flex-flow: column wrap;flex-flow: column wrap;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack:center;-webkit-justify-content:center; -ms-flex-pack:center;justify-content:center; height: 100vh;}

/* TYPOGRAPHY *********************************************************************/
h1{ font-size:5rem; line-height:5rem; font-family: 'gilroyextrabold';margin-bottom: 20px; color: #000000;}
h2{ font-size:3.2rem; line-height:3.4rem; font-family: 'gilroyextrabold';margin-bottom: 20px; color: #000000;}
h3{font-size:2.5rem; line-height:2.8rem; font-family: 'gilroyextrabold'; margin-bottom: 20px;}
h4{font-size:2rem; line-height:2.2rem; font-family: 'gilroyextrabold'; color: #284c71; margin-bottom: 20px;}
h1 span, h2 span{ font-size:24px; line-height:22px; display:block;font-weight:300;}
ul.styled{margin:  0 0 30px 0; padding: 0;}
ul.styled li{margin: 0 0 2px 0; padding: 0 0 0px 25px;background:url(../images/bullet.png) left center no-repeat;}
p.lead{font-size: 18px;}
p{margin: 0 0 0 0; padding:0 0 30px 0;color: #515e65;}
li{color: #515e65;}
.last{padding-bottom:0;}
p b{color: #3c4044; font-weight: 400;}
p.big{font-size: 18px;}
.uppercase{text-transform: uppercase;}
ul{list-style-type: none; margin: 0; padding: 0;}
img{max-width: 100%;}
a{text-decoration: none!important;color: #000000;}
a:hover, a:focus{color: #004fff;}
section{padding: 80px 0;}
.form-control{min-height: 50px;background-color: #4278fe;border-radius: 0;border-color: #004fff;}
label{font-family: 'gilroymedium';}
.btn.focus, .btn:focus{box-shadow: none;}
.client-logos ul li{float: left; width: 20%; margin: 15px 0; padding: 0 15px;}
.client-logos ul li img {opacity: 0.5;max-width: 100%;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%);}

/* NAVBAR *********************************************************************** */
header.navbar {padding: 1.4rem 1.25rem;background-color: transparent;}
header nav{width: 100%;margin: auto;}
nav.container-custom{padding: 0;}
.bg-dark {background: #000000!important}
.navbar-dark .navbar-brand{background:url(../images/logo-light.png) center center no-repeat; width: 91px;height: 39px;}
.navbar-dark .navbar-brand-dark{background:url(../images/logo-dark.png) 100% no-repeat; width: 91px;height: 39px;}
.navbar-dark .navbar-brand:focus{outline: none;}
.navbar-dark .navbar-brand-dark:focus{outline: none;}
#hamburger{display: block;flex-basis: auto;margin: auto;}


.opaque-navbar {background-color: rgba(255,255,255,0);border-bottom: 0px;transition: background-color .5s ease 0s;}
.opaque-navbar.opaque {background-color: white;transition: background-color .5s ease 0s; -webkit-box-shadow: 0px 5px 3px 0px rgba(200, 200, 202, 0.2);-moz-box-shadow:0px 5px 3px 0px rgba(200, 200, 202, 0.2);box-shadow:0px 5px 3px 0px rgba(200, 200, 202, 0.2);}
@media (max-width: 992px) {.opaque-navbar {background-color: white;transition: background-color .5s ease 0s; }}
.client-logos img:hover {filter: none;-webkit-filter: grayscale(0%);cursor: pointer;opacity:1;}
.navbar-brand img{max-width: inherit;}
.navbar-light .navbar-nav .nav-link {color: rgba(8, 49, 92 , 0.8);font-weight: 400;font-size: 15px;}
.navbar-toggleable-md .navbar-nav .nav-link {padding-left: 0.8rem; padding-right: 0.8rem;}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {color: rgba(8, 49, 92 , 1);background:url(../images/selected-nav.png) bottom left no-repeat;}

/* FULL SCREEN NAVIGATION FOR MOBILE **********************************************/
.top-animate {background: #fff;top: 13px !important;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.mid-animate { opacity: 0;}
.bottom-animate {background: #fff;top: 13px !important;-webkit-transform: rotate(-225deg);transform: rotate(-225deg);}
.top-menu {top: 9px;width: 30px;height: 3px;border-radius: 10px;background-color: #F9A530;}
.bottom-menu {top: 20px;width: 30px;height: 3px;border-radius: 10px;background-color: #F9A530;}
.menui {background: #fff;transition: 0.6s ease;transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);margin-top: -8px;position: absolute;}
.icon {position:relative; float: right; padding: 0; height: 20px;width: 30px;top: 0;outline: none;}
.fullscreen{ padding:0 !important;font-family: 'IBMPlexSerif-regular';}
.fullscreen .modal-dialog {margin: 0 0 0 0;max-width: 100%;height: 100%;min-height: 100%;padding: 0;color: #333;}
.fullscreen .modal-content {height: 100%;min-height: 100%;border-radius: 0;color: #fff;	background: #000;overflow: hidden;}
.fullscreen .navbar-nav,.fullscreen .navbar-nav > li{ float:none;}
.fullscreen .navbar-nav > li { padding:8px 0;color: #333; font-size: 75px;line-height:80px;font-weight:300;}
.fullscreen .navbar-nav > li a > span {opacity: 0; color: #333;}
.fullscreen .navbar-nav > li > a{ padding:0; color:#fff;}
.fullscreen .navbar-nav > li > a:hover, .fullscreen .navbar-nav > li > a:focus{ color:#004fff; text-decoration: none;transition: all 0.4s;}
.fullscreen .dropdown-menu > li{ position:relative;}
.fullscreen .dropdown-menu > li > a{ color:#fff; font-size:24px; line-height:28px; font-weight:300; padding:4px 25px;}
.fullscreen .dropdown-menu > li > a:hover, .fullscreen .dropdown-menu > li > a:focus{background-color:rgba(0,135,184,1); color:#f2e7e7;text-decoration: none;}
.fullscreen .nav .show > a, .fullscreen .nav .show > a:hover, .fullscreen .nav .show > a:focus{background-color:rgba(0,135,184,1); color:#f2e7e7;}
.fullscreen li.dropdown.show .dropdown-menu {display: block !important;background-color: rgba(0,135,184,1);}
.fullscreen .navbar-nav .show .dropdown-menu {position: static;float: none;width: auto;margin-top: 0;background-color: transparent;border: 0;-webkit-box-shadow: none;box-shadow: none; text-align: center;}
.fullscreen .dropdown-toggle::after {content: none;}
.modal{font-family: 'gilroyextrabold';}
.dropdown:hover .dropdown-menu {display: block;margin: 0;background-color: rgba(255, 255, 255, 1); font-size: 14px;}
.dropdown:hover .dropdown-menu .dropdown-item {padding: 3px 15px;}
.dropdown:hover .dropdown-menu .dropdown-item:hover {background: #d9fcff;}


/* CULTURE ***************************************************************/
.culture{padding: 220px 0; background:url(../images/culture_bg.jpg) center center no-repeat;}
.culture-inner{padding: 50px; background:#fff; color: #000;}

.full-height{height: 100vh; display: table; width: 100%;}
.full-height-inner{display: table-cell;vertical-align: middle; height: 100%;}
.height_100{height: 100%;}
/******* common css *****/
.btn{font-family: 'gilroymedium';}
.btn-default{border: 1px solid #000000;padding: 1rem 4.5rem 1rem 4.5rem;border-radius: 0;color: #000000;transition: all 0.4s;}
.btn-default:hover{background: #004fff;color: #ffffff;border-color: #004fff;}
.full-wide{width: 100%;}
/* SECTION BG's *******************************************************************/
.middle_text{height: 100%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
/* HOME ***************************************************************************/
.container-custom{width: 100%;padding: 0 15px;margin: auto;}
.middle_text.story_text{padding: 2rem;}
figure{margin-bottom: 0;}
.story_text h2,.story_bottom h2 {margin-bottom: 2rem;font-size: 1.5rem;line-height: 2rem;}
.story_text p {margin-bottom: 1.5rem;}
.story_bottom{padding: 4rem 3rem;}
.light_bg{background: #eaeaea;}
.story_bottom .column h2 {margin-bottom: 2rem;}
.bg_light_blue{background-color: #b8f4ff;height: 100%;}
.bg_light_blue:hover{background-color: #8EF4FD;}
.right_sec > div {padding: 4rem;color: #000000;}
.right_sec > div h1 {color: #000000;}
.projects{padding: 3rem;color: #000000;}
.gray_bg{background: #d8d8d8;}
.projects label{font-size: 1.25rem;margin-bottom: 2.5rem;color: #000;}
.arrow-black.single:after{margin-left:0;}
label.title{font-size: 15px;font-weight: 600;color: #000000;margin-bottom: 3rem;}
.main_pic_hov{position: relative;}
.main_pic_hov > p, .main_pic_hov > a.btn-default {color: #ffffff;}
.main_pic_hov .overlay_s > p{position:absolute;top:0;left: 0;font-size: 2rem;padding: 2rem 1rem;color: #ffffff;}
.main_pic_hov .overlay_s > label{position:absolute;bottom:1rem;left: 1rem;color: #ffffff;}
.vertical_align{margin: auto;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body{
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}
.overlay_s {width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;background-color: rgba(0,0,0,0.75);transition: opacity .35s ease;overflow: auto;z-index: 1;opacity: 0;}
.main_pic_hov a:hover .overlay_s {opacity: 1;visibility: visible;transition: all 0.4s;}
.column h5{line-height: 2rem;color: #5d5d5d;padding-left: 1rem;position: relative;margin-bottom: 2rem;}
.column h5:before{content: '';height: 85%;width: 3px;background-color: #004fff;position: absolute;left: 0;bottom: 5px;}
.main_black.home{background-color: #000000;width: 100%;position: relative;min-height: 500px;}
.home_knowmore{position: absolute;bottom: 2rem;display: block;}
.culture-inner h2 {font-size: 3.2rem;line-height: 3.4rem}

/* WORK **************************************************************************/
section.work{padding-bottom: 0;}
.z-index_9{z-index: 9;}
.hamburger.dark .menui {background: #000000;}
.work h1, .main_title h1{font-size: 5rem;line-height: 5.2rem;color: #000000;font-weight: 600;}
.work_flow h2{font-size: 1.5rem;line-height: 1.8rem;font-weight: 600;color: #000000;}
.middle_text.work_flow{padding: 1rem 2.5rem;position: relative;}
.overlay_text{padding:3rem;background-color: rgba(0,0,0,0.45);color:#ffffff;width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;transition: opacity .35s ease;overflow: hidden;z-index: 1;opacity: 1;}
.overlay_text h2{color: #ffffff;}
.overlay_text .bottom_text{position: absolute;bottom: 0;padding: 3rem;left: 0;right: 0;}
.bg_light_yellow{background-color:#FFF0C9;height:100%;}
.bg_light_yellow:hover{background-color:#FFE7A6;}
.right_sec > div label{display: block;margin-bottom: 2rem;padding: 1rem 0;}
.right_sec > div h2{font-size:3rem;margin-bottom: 2rem;line-height: 3.2rem;letter-spacing: 1px;}
.bg_light_yellow.right_sec > div p {color: #000000;}
/* ABOUT **************************************************************************/
.main_title{padding: 4rem 0 0;}
.bg_blue{background: #155fff;color: #ffffff;}
.story_sec{padding: 6rem 1rem;margin-left: 0;}
.line_before{width: 70%;height: 1px;background: #ffffff;opacity: 0.8;margin: 1rem 0 1rem auto;}
.line_before.dark{;background: #000000;}
.about_text{padding: 0 4rem 1rem 0;position: relative;}
.about_text p{line-height: 1.8rem;color: #515e65;}
.belief_{color: #ffffff;position: relative;}
label.label_title{color: #ffffff;padding: 0 15px;font-weight: 600;font-size: 15px;line-height: 30px;margin-bottom: 3rem;}
label.label_title.dark{color: #000000;}
.belief_ div h2 {color: #ffffff;font-size: 4rem;line-height: 4.5rem;letter-spacing: 1px;}
.belief_details.services{padding: 0 1rem 0 0;margin-bottom: 4.5rem;}
.belief_details{padding: 0 1rem 0 0;margin-bottom: 3rem;}
.leaders_1{background: url("../images/leader_1.jpg");background-position:inherit!important;}
.leaders_2{background: url("../images/leader_2.jpg");background-position:inherit!important;}
.leaders_3{background: url("../images/leader_3.jpg");}
.about_full{background: url("../images/about_full.jpg");background-position:inherit!important;}
.belief_ label.label_title{left: 15px;}
.leadership_detail{padding: 3rem 0;position: relative;height: 100%;}
.leadership_detail h3 {font-size: 20px;font-weight: 600;color: #000000;margin-bottom: 0;line-height: 26px;}
.leadership_detail ul{display: inline-block;position: absolute;bottom: 10px;left: 0;}
.leadership_detail ul li {float: left;margin-right: 1.2rem;}
.row.leadership{margin-bottom: 3rem;}
.leader_details_1{padding: 2rem;color: #ffffff;}
.leader_details_1 h3{color: #ffffff;font-size: 20px;line-height:26px;margin-bottom: 0;letter-spacing: 1px;font-family: 'gilroyextrabold';}
.leader_details_1 p{color: #ffffff;}
.before_blue{padding-left: 20px;position: relative;padding-bottom: 0;}
.before_blue:before{content: '';background-color: #004fff;width: 3px;height: 100%;position: absolute;left: 0;}
.background.about_full_pic:before{padding-top: 55%;}
.slider ul{margin: auto;}
.slider ul li{margin-bottom: 4rem;}
.slider{padding: 2rem 0;display: block;}
.belief_details p {color: #ffffff;padding-bottom: 1rem;}
.partners_head{color: #ffffff;margin-bottom: 3rem}
#partners.owl-carousel .owl-item img{width: auto;margin: auto;}
.owl-dot, .owl-dots{height: 10px;text-align: center;}
.item .slider li a {display: inline-block;}
.owl-carousel button.owl-dot{border: 1px solid #ffffff;border-radius: 100%;width: 10px;margin: 0 0.5rem;outline: none;}
.owl-carousel button.owl-dot.active{background: #ffffff;}
.owl-carousel.owl-drag .owl-item{text-align: center;}
.about_text.white p {color: #ffffff;}

/* FOOTER *************************************************************************/
.footer{background: #000000; padding:140px 0 100px; color: #ffffff;}
.footer a{color: #ffffff;font-size: 1.5rem;display: block;font-family: 'gilroymedium';}
.footer a:hover{color: #004fff;}
.footer h3{font-size: 100px;line-height:120px;color: #ffffff; margin-bottom:140px; font-weight: normal;}
.footer p{font-size: 1rem;height: 90px;margin-bottom: 1rem;color: #9c9c9c;font-weight: 500;}
.footer .hover_text{margin-bottom: 5rem;}
.copyright{color: #868686;width: 100%;text-align: center;padding: 2rem 1rem;}
.copyright p {padding-bottom: 0;height: auto;margin-bottom: 0;padding-top: 1.5rem;color: #9c9c9c;}
.social{margin: 0; padding: 0; list-style-type: none;}
.social li{float: left; margin: 0 20px 0 0;}
.social li{float: left; margin: 0 20px 0 0;}
.social li a{float: left; margin: 0 15px 0 0;}
.footer .hover_text a:hover {opacity: 1;}

/***** home video ******/
.homepage-hero-module {border-right: none;border-left: none;position: relative;}
.no-video .video-container video,
.touch .video-container video {display: none;}
.no-video .video-container .poster,
.touch .video-container .poster {display: block !important;}
.video-container {position: relative;bottom: 0%;left: 0%;height: 100%;width: 100%;overflow: hidden;background: transparent;}
.video-container .poster img {width: 100%;bottom: 0;position: absolute;}
.video-container .filter {z-index: 100;position: absolute;background: rgba(0, 0, 0, 0.4);width: 100%;}
.video-container video {position: absolute;z-index: 0;bottom: 0;top:0;height: 100vh;display: block;object-fit: cover;}
.video-container video.fillWidth {width: 100%;}
.home .middle_text.video_text{position:absolute;width: 100%;top:0;z-index: 101;}
#menu_block{display: flex;-ms-flex-preferred-size: auto;flex-basis: auto;}

/***** arrow ****/
button.arrow{border: 0;cursor: pointer;padding: 1rem 0;height: auto;width:100px;outline: none;background: transparent;}
button.arrow.dark > span{background: #000000;}
button.arrow.white > span{background: #ffffff;}
button.arrow.lg span.arrow_line{width: 60px;left: 0;}
button.arrow.dark span.arrow_line span{border-left-color: #000000;}
button.arrow.white span.arrow_line span{border-left-color: #ffffff;}
.arrow_slide:hover button.arrow.white span.arrow_line span{border-left-color: #004fff;}
span.arrow_line{width: 35px;height: 2px;left: 5px;position: relative;display: block;background: #fff;z-index: 1;transition: all 0.4s ease-in-out;}
span.arrow_line span {border-bottom:6px solid transparent;border-left: 8px solid #fff;border-top: 6px solid transparent;bottom: -5px;right: -8px;display: block;position: absolute;z-index: 5;}
.home .middle_text.video_text a:hover button.arrow span.arrow_line{width: 80px;outline: none;text-decoration: none;}
.arrow_slide:hover button.arrow span.arrow_line, .arrow_slide:focus button.arrow span.arrow_line {width: 55px;outline: none;text-decoration: none;background: #004fff;}
.arrow_slide:hover button.arrow.dark span.arrow_line span, .arrow_slide:focus button.arrow.dark span.arrow_line span{border-left-color: #004fff;}
.arrow_slide.lg:hover button.arrow span.arrow_line {width: 80px;outline: none;text-decoration: none;}
.arrow_slide.lg:hover button.arrow.dark span.arrow_line span, .arrow_slide:focus button.arrow.dark span.arrow_line span{border-left-color: #004fff;}
.home .middle_text.video_text a{text-decoration: none!important;display: block;}
.middle_text.projects a:hover button.arrow span.arrow_line, .middle_text.projects a:focus button.arrow span.arrow_line{width: 80px;background: #004fff;}
.middle_text.projects a:hover button.arrow.dark span.arrow_line span, .middle_text.projects a:focus button.arrow.dark span.arrow_line span {border-left-color: #004fff;}
.btn-default.hover_a{position: relative;}
.btn-default.hover_a span.arrow_line{position: absolute;right: 40px;top: 50%;left: auto;background:transparent;}
.btn-default.hover_a:hover span.arrow_line, .btn-default.hover_a:focus span.arrow_line{background: #ffffff;}
.btn-default.hover_a:hover label{right: 20px;transition: 0.5s;color: #ffffff;}
.btn-default.hover_a label{margin: 0;display: block;position: relative;transition: 0.5s;}
/****** home images ******/
.background{position: relative;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;overflow: hidden;}
.bg_images{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat;background-position: center;}
.bg_images.home_1{background-image: url("../images/projects_3.jpg");}
.bg_images.home_2{background-image: url("../images/projects_2.jpg");}
.bg_images.home_3{background-image: url("../images/projects_1.jpg");}
.bg_images.home_4{background-image: url("../images/projects_4.jpg");}
.bg_images.home_5{background-image: url("../images/projects_5.jpg");}
.middle_text.projects a, a.arrow_slide{color: #000000;display: block;}
.bg_light_blue.right_sec .background{min-height: 240px;height: auto;}
.background:before{padding-top: 70%;content: '' !important;display: block;}
.main_pic_hov a{display: block;width: 100%;}
/***** work images **/
.img_container_main, .img_container{width: 100%;display: block;overflow: hidden;position: relative;}
.img_container_main:before{content: '';display: block;padding-top: 50%;}
.img_container:before{content: '';display: block;padding-top: 100%;}
.img_container_main .work_img, .img_container .work_img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;overflow: hidden;}
.img_container_main .work__, .img_container .work__{background-position: bottom;-ms-transform: scale(1.05);transform: scale(1.05);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat;}
.img_container_main .work__:before , .img_container .work__:before{display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #19191e;opacity: 0;transition: opacity 0.5s;content: '';}
.img_container_main .work__.work_1{background-image: url("../images/work_1.jpg");}
.img_container .work__.work_2{background-image: url("../images/work_flag.jpg");}
.img_container .work__.work_3{background-image: url("../images/work_excell.jpg");}
.img_container .work__.work_4{background-image: url("../images/work_2.jpg");}
.img_container .work__.work_5{background-image: url("../images/sandwitches.jpg");}
.img_container .work__.work_6{background-image: url("../images/making_space.jpg");}
.img_container_main .work__.work_7{background-image: url("../images/work_3.jpg");}
.about_bg{background: url("../images/about_1.jpg");background-repeat: no-repeat;background-size: cover;}
/******* button *******/
.btn,button.btn {background: transparent;color: #000000;letter-spacing: 1px;transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);display: inline-block;cursor: pointer;width: 100%;outline: none;vertical-align: middle;text-align: center;position: relative;overflow: hidden;}
.btn:hover,button.btn:hover {background: #004fff;border-color: #004fff;color: #fff;}
.btn-border {background-color: transparent;color: #1d1d1d;}
.btn-arrow {position: relative;transition: background-color 500ms ease-out;}
.btn-arrow span {display: inline-block;position: relative;transition: all 500ms ease-out;will-change: transform;font-size: 1.25rem;}
.btn-arrow:hover span {transform: translate3d(-1rem, 0, 0);transition: all 500ms ease-out;color: #ffffff;}
.btn-arrow span.arrow_ {background: #fff;height: 2px;position: absolute;width: 35px;right: -25px;opacity: 0;top: 50%;margin-top: 2px;transform: translateY(-50%);transition: all 500ms ease-out;will-change: right, opacity;}
.btn-arrow span.arrow_ * {stroke-width: 5;stroke-color: transparent;}
.btn-arrow:hover span.arrow_ {opacity: 1;right: -3rem;}
.btn-arrow:hover span.arrow_ small {border-bottom:6px solid transparent;border-left: 8px solid #fff;border-top: 6px solid transparent;bottom: -5px;right: -5px;display: block;position: absolute;z-index: 5;}

/******* case study *******/
div.case_title{display: flex;padding:5rem 0;}
div.case_title label{font-size: 1.5rem;padding: 1.2rem 0;}
div.case_title .line_after{width: 300px;height: 1px;background: #000000;margin: 2rem 1rem;}
.company_details{padding-bottom: 2rem;}
.company_details label{font-weight: 600;margin-bottom: 0;}
.company_details h3{font-size: 1.5rem;}
.org_details{padding: 5rem 0;text-align: left;}
.more_work .line_before{width: 100%;}
.more_work{margin-bottom: 3rem;}
.bg_gray{background-color: #dadada;}
.travosh .owl-nav button.owl-next{position:absolute;right: -6%;top:50%; border: 0;cursor: pointer;padding: 1rem 0!important;margin-top:-2rem;height: auto;width:100px;outline: none;background: transparent;}
.travosh .owl-nav button.owl-next span{font-size:0;width: 60px;height: 2px;left: 5px;position: relative;display: block;background: #000000;z-index: 1;transition: all 0.4s ease-in-out;}
.travosh .owl-nav button.owl-next span:after{content:'';border-bottom:6px solid transparent;border-left: 8px solid #000000;border-top: 6px solid transparent;bottom: -5px;right: -8px;display: block;position: absolute;z-index: 5;}
.travosh .owl-nav button.owl-next:hover span{width: 80px;}
.travosh .owl-nav button.owl-prev{position:absolute;left: -6%;top:50%; border: 0;cursor: pointer;padding: 1rem 0!important;margin-top:-2rem;height: auto;width:100px;outline: none;background: transparent;transform: rotate(180deg);}
.travosh .owl-nav button.owl-prev span{font-size:0;width: 60px;height: 2px;left: 5px;position: relative;display: block;background: #000000;z-index: 1;transition: all 0.4s ease-in-out;}
.travosh .owl-nav button.owl-prev span:after{content:'';border-bottom:6px solid transparent;border-left: 8px solid #000000;border-top: 6px solid transparent;bottom: -5px;right: -8px;display: block;position: absolute;z-index: 5;}
.travosh .owl-nav button.owl-prev:hover span{width: 80px;}
.owl-carousel.dark button.owl-dot{border-color: #000000;}
.owl-carousel.dark button.owl-dot.active{background: #000000;}
.before_pie{padding-left: 1.5rem;position: relative;margin: 2rem 0;color: #000000;}
.before_pie:before{content: '';position: absolute;top:0;left: 0;width: 2px;height: 100%;background-color: #000000;}
.light_gray{background-color: #F4F4F1;}
.background_slides{background:url("../images/slider_bg.jpg") no-repeat;background-size: 100% 60%;text-align: center;background-position: center;width: 100%;}
.chart_details h3{margin-bottom: 0.5rem;}
.chart_details > div > p {text-transform: uppercase;}
.chart_details ul, .chart_details p{display: inline-block;float: left;}
.share_article{display: inline-block;padding: 1rem 0;}
.share_article p{padding-right: 1rem;}
.share_article p{padding-bottom: 0;}
.share_article ul li{float: left;margin: 0 1rem;font-size: 1.5rem;}
.image_content{display: flex;padding: 2rem 0;}
.image_content > div{margin-bottom:3rem;}

/********* career *********/
.top_sec{background-size: cover!important;width: 100%;position: relative;height: 500px;padding: 4rem 0;}
.top_sec.career{background: url("../images/career_bg.jpg") top no-repeat;}
.top_sec.profile_1{background: url("../images/profile_1.jpg") top no-repeat;}
.top_sec .upper_div{margin: auto;height: 400px;position: absolute;left: 10%;right: 10%;bottom: -20%;background: #ffffff;padding: 3rem;}
.career_bg{background: url("../images/career_right.jpg");background-repeat: no-repeat;background-size: cover;}
.career_studio > div {padding: 5rem 1rem;}
.job_links{padding: 3rem 3rem 5rem 3rem;}
.job_links:after{content: ''}
.bot-left, .bot-right{position: relative;height: 100%;}
.bot-left:before, .bot-left:after {content: "";position: absolute;bottom: 0;left: 0;}
.bot-left:before {top: 0;width: 2px;background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#268afa), to(#a46594));background-image: -webkit-linear-gradient(bottom, #268afa, #a46594);background-image: -moz-linear-gradient(bottom, #268afa, #a46594);background-image: -o-linear-gradient(bottom, #268afa, #a46594);}
.bot-left:after {right: 0; height: 2px;background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#278bfd), to(#8e6aa7));background-image: -webkit-linear-gradient(left, #278bfd, #8e6aa7);background-image: -moz-linear-gradient(left, #278bfd, #8e6aa7);background-image: -o-linear-gradient(left, #278bfd, #8e6aa7);}
.bot-right:before, .bot-right:after{content: "";position: absolute;top: 0;right: 0;}
.bot-right:before {top: 0;width: 2px;height: 100%;background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#ff4747), to(#8e6aa7));background-image: -webkit-linear-gradient(#ff4747, #8e6aa7);background-image: -moz-linear-gradient(#ff4747, #8e6aa7);background-image: -o-linear-gradient(#ff4747, #8e6aa7);}
.bot-right:after {right: 0;height: 2px;width: 100%;background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#a46594), to(#ff4747));background-image: -webkit-linear-gradient(left, #a46594, #ff4747);background-image: -moz-linear-gradient(left, #a46594, #ff4747);background-image: -o-linear-gradient(left, #a46594, #ff4747);}
.bg_green{background-color: #b9fff5;width: 100%;height: 100%;}
.grad_45{height: 500px;padding: 3rem;margin: 0 -15px;background: url("../images/internship_bg.jpg") no-repeat;background-size: cover;position: relative;}
.grad_45:before{background: linear-gradient(60deg, rgba(255, 62, 132, 0.7), rgba(64, 129, 255, 0.7));content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 1;}
.grad_45 .overlay{position: absolute;left: 0;right: 0;bottom:0;padding: 3rem;}
.grad_45 h2{color: #ffffff;}
.grad_45 p{color: #ffffff;}
.book_now{padding: 3rem;height: 100%;}
.book_now h2{width: 40%;margin-bottom: 2rem;}
.book_now h5{font-weight:600;font-size: 1.25rem;}
.book_now p {color: #000000;}
.career_1{background-image: url("../images/career_1.jpg")}
h2.footer_title {font-size: 4rem;line-height: 4.5rem;margin-bottom: 3rem;}
.job_links button.arrow{position: absolute;bottom: 3rem;left: 2.8rem;}
.job_links h2 {font-size: 4rem;line-height: 4rem;font-family: 'IBMPlexSerif-regular';font-weight: 600;}
/******** contact ******/
.top_sec.contact{background: url("../images/contact_top_bg.jpg") top no-repeat;}
.top_sec.contact .upper_div{height: 300px;}
.color-white h2{color: #ffffff;font-size: 3.5rem;line-height: 4rem;}
label.title.white{color: white;}
.challenge{padding: 3rem;text-align: center;color: #ffffff;}
.challenge h2{color: #ffffff;}
.column2{width: 50%;}
.form_contact{margin-bottom: 4rem;}
.form-control:focus{background-color: #4278fe;box-shadow: none;border-color:#004fff;color: #ffffff;}
.form-control::placeholder{color:  #515e65;}
.form-control{color: #ffffff;}
.btn.btn-send{min-width: 100%!important;border-color: #ffffff;color: #ffffff;}
.btn.btn-send:hover{border-color: #ffffff;background-color:#2f4cff; }
.bg-light-blue{background-color: #2f4cff;color: #ffffff;}
.top_line{height: 1px;width: 100%;background-color: #ffffff;margin-bottom: 1rem;}
.line_space div .top_line:nth-child(3){width: 100%;}
.contact_details{margin-bottom: 2rem;}
.contact_details h5{margin-bottom: 1rem;}
.contact_details p {padding-bottom: 0.4rem;line-height:1.25rem;color: #ffffff;}
h2.title{font-size: 4rem;line-height: 4.5rem;margin-bottom: 2rem;}
.contact_full{background-image: url("../images/contact_full.jpg");}
.contact_bg .background:before{padding-top: 50%;}
.btn.btn-center{background-color: #ffffff;border-color: transparent;}
.right.contact{width: 80%;margin-left: auto;}
.center.contact{width: 80%;margin-left: auto;margin-right: auto;}
.left.contact{width: 80%;margin-right: auto;}
/******* services *****/
.services_bg .background:before{padding-top: 100%;}
.services_bg{width: 100%;height: 100%;}
.service_bg{background-image: url("../images/services_top.jpg");background-size: cover;background-position: bottom;}
.white_slide h2, .white_slide h3{transition: all 0.5s;color: #ffffff;}
.white_slide:hover h2, .white_slide:hover h3 {color:#60F7FF;}
.white_slide:hover button.arrow span.arrow_line {width: 80px;background:#60F7FF;}
.white_slide:hover button.arrow span.arrow_line span {border-left-color: #60F7FF;}
.tree{margin-bottom: 2rem;color: #ffffff;text-align: center;}
.tree h2{font-size: 4rem;line-height: 4.5rem; margin-bottom: 2rem;color: #ffffff;padding-top: 2rem;}
.tree p {margin-bottom: 4rem;color: #ffffff;}
.tree button.vertical {transform: rotate(90deg);}
button.arrow.xl{width: 150px;}
button.arrow.xl span.arrow_line{width: 130px;}
.service_2{background-image: url("../images/services_2.jpg");background-size: cover;background-position: bottom;}
.upper_div{background: #ffffff;padding: 3rem;width: 70%;margin: auto;}

/**** strategy **********/
.strategy{background-image: url("../images/strategy_top.jpg");}
.right_div{width: 40%;background-color: #155fff;color: #ffffff;margin-left: auto;padding: 2.5rem;position: absolute;bottom: -15%;right: 15%;}
.right_div h4{color: #ffffff;font-family: 'IBMPlexSerif-Light';font-size: 1.5rem;}
.before_pie.blue:before{background-color: #155fff;padding-bottom: 0;}
.before_pie.white:before{background-color: #ffffff;padding-bottom: 0;}
.before_pie.blue{padding-bottom: 0;color: #515e65;font-size: 20px;font-style: italic;line-height: 28px;}
.before_pie.white{padding-bottom: 0;color: #ffffff;font-size: 20px;line-height: 28px;}
.strategy_1{margin: 2rem 0;}
.white_slide.p-3 > a p{padding-bottom: 1rem;}

/****** discovery **********/
.discovery{background-image: url("../images/discovery_top.jpg");}
.discovery_1{background-image: url("../images/discovery_1.jpg");background-repeat: no-repeat;background-size: contain;}
.discovery_2{background-image: url("../images/discovery_2.jpg");background-repeat: no-repeat;background-size: contain;}

/***** industry *****/
.top_sec.industry_bg{background: url("../images/industry_bg.jpg") top no-repeat;}

/***** job *****/
.gradient_bg{background: linear-gradient(-150deg, #FF4848, #3C83EA);}
.btn.btn-white{border-color: #ffffff;color: #ffffff;}